{% extends  'WalvaCrudAdminBundle:Crud:show.html.twig' %}

{% block crud_table_body -%}
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{{ entity.dateStart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{{ entity.dateEnd|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Internalname</th>
                <td>{{ entity.internalName }}</td>
            </tr>
{% endblock %}


{% block body %}
    {{ parent() }}
    <table class="table ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Language</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for description in entity.descriptions %}
            {# @var description \HAF\CalendarBundle\Entity\CategoryDescription #}

            <tr>
                <td><a href="{{ path('calendar_event_description_show', { 'id': description.id }) }}">
                        {{ description.id }}</a>
                </td>
                <td>{{ description.language }}</td>
                <td>{{ description.title }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('calendar_event_description_show', { 'id': description.id }) }}" class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-new-window"></span> Show</a>
                        <a href="{{ path('calendar_event_description_edit', { 'id': description.id }) }}" class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-pencil"></span> Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
