{% extends  'WalvaCrudAdminBundle:Crud:show.html.twig' %}

{% block crud_table_body -%}
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Audiolanguage</th>
                <td>{{ entity.audioLanguage }}</td>
            </tr>
            <tr>
                <th>Subtitleslanguage</th>
                <td>{{ entity.subtitlesLanguage }}</td>
            </tr>
{% endblock %}
