<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-wrench"></i> Tools <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li><a href="{{ path("image") }}">
                        <i class="glyphicon glyphicon-picture pull-right"></i>
                        Image</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ path("abstract_video") }}">
                        <i class="glyphicon glyphicon-film pull-right"></i>
                        Video</a></li>
                <li><a href="{{ path("video_source") }}">
                        <i class="glyphicon glyphicon-link pull-right"></i>
                        Source</a></li>
                <li><a href="{{ path("video_description") }}">
                        <i class="glyphicon glyphicon-info-sign pull-right"></i>
                        Description</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-file"></i> Article <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li><a href="{{ path("article") }}">
                        <i class="glyphicon glyphicon-th-list pull-right"></i>
                        Article</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ path("tag") }}">
                        <i class="glyphicon glyphicon-tags pull-right"></i>
                        Tag</a>
                </li>
                <li><a href="{{ path("reference") }}">
                        <i class="glyphicon glyphicon-bookmark pull-right"></i>
                        Reference</a>
                </li>
                <li><a href="{{ path("auteur") }}">
                        <i class="glyphicon glyphicon-user pull-right"></i>
                        Auteur</a>
                </li>
                <li><a href="{{ path("categorie") }}">
                        <i class="glyphicon glyphicon-folder-open pull-right"></i>
                        Categorie</a>
                </li>
                <li><a href="{{ path("spotlight") }}">
                        <i class="glyphicon glyphicon-certificate pull-right"></i>
                        Spotlight</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="{{ path("livre") }}">
                <i class="glyphicon glyphicon-book"></i> Tools
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path("adsite_campagne") }}">
                <span class="glyphicon glyphicon-bullhorn"></span> Régie
            </a>
        </li>
        <li class="dropdown">


            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-calendar"></i> Calendar <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li role="presentation" class="dropdown-header">Category section</li>
                <li>
                    <a href="{{ path("calendar_category") }}">
                        <span class="glyphicon glyphicon-calendar"></span> Category
                    </a>
                </li>
                <li>
                    <a href="{{ path("calendar_category_description") }}">
                        <span class="glyphicon glyphicon-calendar"></span> Description
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Event section</li>
                <li>
                    <a href="{{ path("calendar_event") }}">
                        <span class="glyphicon glyphicon-calendar"></span> Event
                    </a>
                </li>
                <li>
                    <a href="{{ path("calendar_event_description") }}">
                        <span class="glyphicon glyphicon-calendar"></span> Event Description
                    </a>
                </li>
            </ul>
        </li>

    </ul>


    </li>


    </ul>
</div><!--/.nav-collapse -->