{% set current_page_name = 'livre' %}
{% extends 'WalvaHafBundle:Article:public/layout.html.twig' %}



{% block breadcrumb %}
{{ parent() }}
<li class="active">Article list</li>
{% endblock %}




{% block main_content -%}
<h1>{{'Les livres que nous avons lu pour vous' | trans}}</h1>
<hr/>


{% for entity in entities %}


<div class="entry-content">

    <div id="cat-11" class="post-91 type-post status-publish format-standard hentry category-gastrologie ui-tabs-hide entry ui-tabs-panel ui-widget-content ui-corner-bottom"
         aria-labelledby="ui-id-1"
         role="tabpanel"
         aria-expanded="true"
         aria-hidden="false" 
         style="display: block;">
        {% if entity.image is not null %}
        <div  class="alignleft" style="max-width: 200px; margin-right: 20px"/>
            <img src="{{ asset(entity.image.webPath) }}"
                alt="{{ entity.image.alt }}" />
                
        </div>
        {% endif %}
        
        <h2><a href="{{ path('livre_public_show', { 'id': entity.id }) }}" title="{{ entity.titre }}">
                {{ entity.titre }}</a>
        </h2>
        <p class="byline ">
            <span class="date published " title="">{{ entity.dateCreation|date("d/m/Y", "Europe/Paris") }}</span>  par <span class="author vcard">
                <span class="fn"><a href="http://physiciansfolia.com/?author=1" class="fn n" title="admin" rel="author"> {{ entity.auteur }}</a>
                </span>
            </span>
            <br>
        </p>
        
        <p>{{ entity.contenu | slice(0, 200)}}
            <a href="{{ path('livre_public_show', { 'id': entity.id }) }}" class="more-link">[En savoir plus...]</a></p></div>

</div>
<hr/>
{% endfor %}


{% include '@HAFWebsite/Components/pagination.html.twig'  %}


{% endblock %}


{% block container_header_right %}
<a class="btn btn-primary" href="{{ path('article_new') }}">
    <i class="icon-plus icon-white"></i> 
    Create a new entry
</a>
{% endblock %}
