{% set current_page_name = 'article' %}
{% extends 'WalvaHafBundle:Article:public/layout.html.twig' %}



{% block breadcrumb %}
{{ parent() }}
<li class="active">Article list</li>
{% endblock %}




{% block main_content -%}
<h1>{{'Nos derniers articles et nouvelles' | trans}}</h1>
<hr/>

{% for entity in entities %}


<div class="entry-content">

    <div id="cat-11" class="post-91 type-post status-publish format-standard hentry category-gastrologie ui-tabs-hide entry ui-tabs-panel ui-widget-content ui-corner-bottom"
         aria-labelledby="ui-id-1"
         role="tabpanel"
         aria-expanded="true"
         aria-hidden="false" 
         style="display: block;">
        {% if entity.image is not null %}
        <div  class="alignleft" style="max-width: 200px; margin-right: 20px"/>
        <img src="{{ asset(entity.image.webPath) }}"
             alt="{{ entity.image.alt }}" />

    </div>
        {% endif %}

    <h2><a href="{{ path('article_public_show', { 'id': entity.id }) }}" title="{{ entity.titre }}">
                {{ entity.titre }}</a>
            </h2>
            <p class="byline ">
                <span class="date published " title="">{{ entity.dateCreation|date("d/m/Y", "Europe/Paris") }}</span> <!--  par <span class="author vcard">
                    <span class="fn"><a href="http://physiciansfolia.com/?author=1" class="fn n" title="admin" rel="author"> {{ entity.auteur }}</a>-->
                    </span>
                </span>
                <br>
                <span class="label label-inverse">{% if entity.categorie is not null %}{{ entity.categorie.content(app.request.locale) }}{%endif%}</span>
            {% if entity.tag is not null %}
            {% for tag in entity.tag %}
                <span class="label label-success">{{ tag.content(app.request.locale) }}</span>
            {% endfor %}

            {% endif %}
            </p>

            <p>{{ entity.resume}}
                <a href="{{ path('article_public_show', { 'id': entity.id }) }}" class="more-link">[{{'En savoir plus...' | trans}}]</a></p></div>

    </div>
    <hr/>
{% endfor %}


<ul class="pager">
  <li class="previous {% if page == 1%} disabled {% endif%}">
      {% if page == 1%}
{% else %}
        {% if categorie is defined %}
          <a href="{{ path('article_public_list_categorie_and_page', { 'page': page - 1, 'id':categorie.id }) }}">&larr; {{'Précédent' | trans}}</a>
        {% else %}  
          <a href="{{ path('article_public_list', { 'page': page - 1 }) }}">&larr; {{'Précédent' | trans}}</a>

        {% endif %}
{% endif %}
  </li>
  
  <li class="next {% if not next %}disabled {% endif%}">
      {% if next  %}
          {% if categorie is defined %}
          <a href="{{ path('article_public_list_categorie_and_page', { 'page': page + 1, 'id':categorie.id }) }}">{{'Suivant' | trans}} &rarr;</a>
        
{% elseif tag is defined%}  
          <a href="{{ path('article_public_list_tag_and_page', { 'page': page + 1, 'id':tag.id }) }}">{{'Suivant' | trans}} &rarr;</a>
{% else %}  
          <a href="{{ path('article_public_list', { 'page': page + 1 }) }}">{{'Suivant' | trans}} &rarr;</a>

        {% endif %}
    {% else %}
    
    {% endif %}
  </li>
</ul>




{% endblock %}


