{% macro label(color, value, href) %}
    {% if color == 'primary' %}
        {% set color = 'info' %}
    {% endif %}



    {% if href is  null %}
        <span class="label label-{{ color }}">{{ value }}</span>
    {% else %}
        <a href="{{ href }}" class="label label-{{ color }}">{{ value }}</a>
    {% endif %}

{% endmacro %}