{% extends 'WalvaHafBundle:Auteur:admin.html.twig' %}





{% block breadcrumb %}
{{ parent() }}
<li class="active">Auteur list</li>
{% endblock %}




{% block body -%}
<h1>Auteur list</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Titre</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('auteur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.titre }}</td>

                <td>{{ entity.telephone }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn" href="{{ path('auteur_show', { 'id': entity.id }) }} ">
                            <i class="icon-eye-open"></i> Show</a>
                        <a class="btn" href="{{ path('auteur_edit', { 'id': entity.id }) }}">
                            <i class="icon-pencil"></i> Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('auteur_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}


{% block container_header_right %}
    <a class="btn btn-primary" href="{{ path('auteur_new') }}">
        <i class="icon-plus icon-white"></i> 
        Create a new entry
    </a>
{% endblock %}

